<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="['helvetica_now_display']">
    <nav class="flex justify-between items-center">
        <h3 text-xl>Scatch</h3>
        <% let loggedin=typeof loggedin !=="undefined" ? loggedin : true %>
            <% if (loggedin){%>
                <div class="flex gap-4">
                    <a href="">Shop</a>
                    <a href="">Cart</a>
                    <a href="">My Account</a>
                    <a class="text-red-600" href="/users/logout">logout</a>
                </div>
                <%}%>
    </nav>